        /* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
        margin-bottom: 50px;
        border-radius: 0;
        padding: 20px;
}
         
          /* Add a background color and some padding to the footer */
footer {
        background-color: #1c1c1c;
        padding: 100px;

}
  
.header {
        background-color: rgb(152, 0, 0);
        padding: 25px;
        color: goldenrod;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
}

.container{
        display: flex;
        align-items: center;
        justify-content: center;
}

.search{
        width: max-content;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 28px;
        background: rgba(255,255,255,0.2);
        width: 500px;
}

.search-input{
        font-size: 18px;
        font-family: 'Lexend', sans-serif;
        color: #333333;
        margin-left: 10px;
        outline: none;
        border: none;
        background: transparent;
        flex: 1;
}

.search-input::placeholder{
    color: rgba(0,0,0,0.25);
}

.search-bar button {
        border: 0;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        background: rgba(255,255,255,0.2);
        cursor: pointer;
}

.signup-container {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .signup-container h2 {
        margin-top: 0;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-group label {
        display: block;
        margin-bottom: 5px;
    }
    .form-group input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }
    .form-group button {
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    .form-group button:hover {
        background-color: #218838;
    }

.col-1{width: 33.33%}
.col-2{width: 20%}

[class*="col-"] {
        float:left;
        padding: 15px;
        text-align: center;
      }